region     = "{{ nomad_region }}"
datacenter = "{{ nomad_datacenter }}"
data_dir   = "{{ nomad_data_dir }}"
bind_addr  = "{{ nomad_bind_addr }}"
plugin_dir = "{{ nomad_plugin_dir }}"

advertise {
  http = "{{ nomad_advertise_addr }}"
  rpc  = "{{ nomad_advertise_addr }}"
  serf = "{{ nomad_advertise_addr }}"
}

server {
  enabled          = {{ nomad_enable_server | lower }}
  bootstrap_expect = {{ nomad_bootstrap_expect }}
}

client {
  enabled = {{ nomad_enable_client | lower }}

  servers = ["127.0.0.1:4647"]

  state_dir = "{{ nomad_data_dir }}/client"
  alloc_dir = "{{ nomad_data_dir }}/alloc"
  alloc_mounts_dir = "{{ nomad_data_dir }}/alloc_mounts"

{% for volume_name, volume_cfg in nomad_host_volumes.items() %}
  host_volume "{{ volume_name }}" {
    path      = "{{ volume_cfg.path }}"
    read_only = {{ volume_cfg.read_only | lower }}
  }
{% endfor %}

  options = {
    "driver.raw_exec.enable" = "1"
  }
}

ui {
  enabled = true
}

plugin "docker" {
  config {
    allow_privileged = true
    volumes {
      enabled = true
    }
  }
}

acl {
  enabled = false
}

telemetry {
  collection_interval = "1s"
  disable_hostname = true
  prometheus_metrics = true
  publish_allocation_metrics = true
  publish_node_metrics = true
}
