gerbil:
  start_port: 51820
  base_endpoint: "{{ ansible_host }}"

app:
  dashboard_url: "http://{{ ansible_host }}"
  log_level: "info"

server:
  secret: "{{ pangolin_server_secret }}"

flags:
  require_email_verification: false
  disable_signup_without_invite: true
  disable_user_create_org: false
  allow_raw_resources: true
