http:
  routers:
    pangolin-ui:
      rule: "PathPrefix(`/`)"
      service: pangolin-next
      entryPoints:
        - web

  services:
    pangolin-next:
      loadBalancer:
        servers:
          - url: "http://127.0.0.1:3002"
