job "pangolin" {
  datacenters = ["{{ nomad_datacenter }}"]
  type        = "service"

  group "pangolin" {
    count = 1

    network {
      mode = "host"

      port "http" {
        static = {{ pangolin_http_port }}
      }

      port "https" {
        static = {{ pangolin_https_port }}
      }
    }

    restart {
      attempts = 10
      interval = "30m"
      delay    = "15s"
      mode     = "delay"
    }

    task "pangolin" {
      driver = "docker"

      config {
        image = "{{ pangolin_image }}"
        force_pull = true
        volumes = [
          "{{ pangolin_base_dir }}/config:/app/config",
        ]
      }

      resources {
        cpu    = 300
        memory = 256
      }
    }

    task "gerbil" {
      driver = "docker"

      config {
        image = "{{ pangolin_gerbil_image }}"
        force_pull = true
        cap_add = ["NET_ADMIN", "SYS_MODULE"]
        command = "--reachableAt=http://127.0.0.1:3004 --generateAndSaveKeyTo=/var/config/key --remoteConfig=http://127.0.0.1:3001/api/v1/"
        volumes = [
          "{{ pangolin_base_dir }}/config:/var/config",
        ]
      }

      resources {
        cpu    = 300
        memory = 256
      }
    }

    task "traefik" {
      driver = "docker"

      config {
        image = "{{ pangolin_traefik_image }}"
        force_pull = true
        args = [
          "--configFile=/etc/traefik/traefik_config.yml"
        ]
        volumes = [
          "{{ pangolin_base_dir }}/config/traefik:/etc/traefik:ro",
          "{{ pangolin_base_dir }}/config/letsencrypt:/letsencrypt",
          "{{ pangolin_base_dir }}/config/logs:/var/log/traefik",
        ]
        ports = ["http", "https"]
      }

      resources {
        cpu    = 300
        memory = 256
      }
    }
  }
}
