api:
  insecure: true
  dashboard: true

providers:
  file:
    filename: "/etc/traefik/dynamic_config.yml"

experimental:
  plugins:
    badger:
      moduleName: "github.com/fosrl/badger"
      version: "{{ pangolin_traefik_badger_version }}"

entryPoints:
  web:
    address: ":80"

log:
  level: "INFO"
