[Match]
Name={{ network_bridge_name }}

[Network]
{% if network_bridge_use_dhcp %}
DHCP=yes
{% else %}
Address={{ network_bridge_static_address }}
{% if network_bridge_static_gateway %}
Gateway={{ network_bridge_static_gateway }}
{% endif %}
{% for dns_server in network_bridge_static_dns %}
DNS={{ dns_server }}
{% endfor %}
{% endif %}
IPv6AcceptRA={{ 'yes' if network_bridge_ipv6_accept_ra else 'no' }}
LinkLocalAddressing={{ 'yes' if network_bridge_link_local_addressing else 'no' }}
