deployment:
  replicas: 1

service:
  type: NodePort

ingressClass:
  enabled: true
  isDefaultClass: true
  name: traefik

providers:
  kubernetesIngress:
    enabled: true

logs:
  general:
    level: INFO
