Types: deb
URIs: {{ apt_debian_mirror }}
Suites: {{ ansible_facts['distribution_release'] }} {{ ansible_facts['distribution_release'] }}-updates
Components: {{ apt_components | join(' ') }}
Signed-By: /usr/share/keyrings/debian-archive-keyring.gpg

Types: deb
URIs: {{ apt_debian_security_mirror }}
Suites: {{ ansible_facts['distribution_release'] }}-security
Components: {{ apt_components | join(' ') }}
Signed-By: /usr/share/keyrings/debian-archive-keyring.gpg
